<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
    <title>Task Manager</title>
</head>

<body>
    <div class="container">
        <h1>ChaleyDoAm Task Manager</h1>
    </div>

    <div class="all-container">
        <div class="form-container">
            <form action="{{ url_for('tasks.create_task') }}" method="post">
                <label for="title">Task Title:</label>
                <input type="text" id="title" name="title" required>

                <label for="description">Task Description:</label>
                <textarea id="description" name="description" rows="4"></textarea>

                <label for="due_date">Due Date:</label>
                <input type="date" id="due_date" name="due_date" required>

                <button type="submit">Add Task</button>
            </form>

            <a href="{{ url_for('tasks.export_calendar') }}" class="export-link">Export to Calendar</a>
        </div>
        <div class="tasks-container">
            <div class="sub_container">
                <ul>
                    {% for task in tasks %}
                    <li class="task_cube">
                        <!-- <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                              </div>
                              <div class="flip-card-back">
                                <h1>John Doe</h1> 
                                <p>Architect & Engineer</p> 
                                <p>We love that guy</p>
                              </div>
                            </div>
                          </div> -->
                        
                        
                        <span>{{ task.title }} - {{ task.description }} - {{ task.due_date_date
                            }}</span>
                        <button id="editButton">Edit</button>
                        <!-- <button onclick="create_task(task.id)" method="delete">Delete</button> -->
                        <button id="deleteButton" onclick="deleteTask('{{ task.id }}')">Delete</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        function deleteTask(id) {
            const url = '/create_task/' + id;
            const domain = window.location.origin;
            const fullUrl = domain + url;
            fetch(fullUrl, {
                method: 'DELETE',
            })
                .then(response => {
                    // if (!response.ok) {
                    //     throw new Error('Network response was not ok');
                    // }
                    console.log(response);
                    location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>